# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# IDEs
.idea/
*.iml
*.iws
.vscode/
.project
.classpath
.settings/
out/
bin/
run/

# OS/System
.DS_Store
Thumbs.db

# Other
scratch/
level_methods.txt
*.log
